<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Devday</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="js/home.js" type="text/javascript"></script>

</head>
<body>
  <%- defineContent('hero') %>

</body>
<main>
    <div class="container">
      <%- body %>
    </div>
  </main>

  <footer>
    <center> &copy; 2017 -  Organised by blah blah</center>

  </footer>
</body>
</html>
