<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <center><h2>Devday</h2>
    <p>Upcoming Events</p></center>
  </div>
</section>
<%- contentFor('body') %>
<main>
<div id="cards"></div>
</main>
